Port 22
PermitRootLogin prohibit-password
PasswordAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PermitEmptyPasswords no
LoginGraceTime 30
MaxAuthTries 3
MaxSessions 5
AllowUsers root
X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
Banner /etc/ssh/banner.txt
